@model IEnumerable<finalProject.Models.User>

<div class='page-title-container'>
    <h2 class='page-title'>משתמשים</h2>
</div>


<div class="page-container">
    <form asp-action="Index" method="get" class="search-form">
        <div class="search-fields">
            <div>
                @Html.LabelFor(model => model.First().Username, new { @class = "control-label" })
                <input type="text" name="username" class="form-control" value="@ViewData["Username"]" />
            </div>
            <div>
                @Html.LabelFor(model => model.First().Password, new { @class = "control-label" })
                <input type="text" name="password" class="form-control" value="@ViewData["Password"]" />
            </div>
            <div>
                @Html.LabelFor(model => model.First().Address, new { @class = "control-label" })
                <input type="text" name="address" class="form-control" value="@ViewData["Address"]" />
            </div>
            <div class="search-button-container">
                <button title="חפש" type="submit" class="submit-button btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>

    <div class="full-list-container">
        @Html.ActionLink("לרשימה המלאה", "Index", "Users")
    </div>

    <table class="products-table table table-striped table-hover">
        <thead>
            <tr style="width: 98%">
                <th scope="col" style="width: 13%">
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th scope="col" style="width: 11%">
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th scope="col" style="width: 15%">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th scope="col" style="width: 10%">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th scope="col" style="width: 15%">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th scope="col" style="width: 15%">
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th scope="col" style="width: 7%">
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th scope="col" style="width: 6%">
                </th>
                <th scope="col" style="width: 6%">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="width: 13%">
                    @Html.DisplayFor(modelItem => item.Username)

                </td>
                <td style="width: 11%">
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td style="width: 15%">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td style="width: 10%">
                    @{
                        if (item.Gender == 0)
                        { <text>זכר</text> }
                    else
                    { <text>נקבה</text> }
                    }
                </td>
                <td style="width: 15%">
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td style="width: 15%">
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td style="width: 7%">
                    @{
                        if (item.IsAdmin == false)
                        { <text>לא</text> }
                    else
                    { <text>כן</text> }
                    }
                </td>
                <td style="width: 6%">
                    <div class="action-button btn btn-default"
                         onclick="location.href='@Url.Action("Edit", "Users", new {Id=item.Id})'" 
                         title="ערוך">
                        <span class="glyphicon glyphicon-edit"></span>
                    </div>
                </td>
                <td style="width: 6%">
                    <div class="action-button btn btn-default" 
                         onclick="location.href='@Url.Action("Delete", "Users", new {Id=item.Id})'" 
                         title="מחק">
                        <span class="glyphicon glyphicon-trash"></span>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
