@model finalProject.Models.Purchase

<div class='page-title-container'>
    <h2 class='page-title'>רכישת מוצר</h2>
</div>

<div class='form-container'>
    @using (Html.BeginForm("Purchase", "Products", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <img style="height: 10vh;width: 6vw;"
             src=@System.String.Format("/Images/Products/{0}", @Model.Product.PictureName) />
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name, new { @class = "form-label" })
            @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Size, new { @class = "form-label" })
            @Html.EditorFor(model => model.Product.Size, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "form-label" })
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Count, new { @class = "form-label" })
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Branch, new { @class = "form-label" })
            @Html.DropDownList("BranchId", null, new { @class = "form-control" })
        </div>
        @*<input type="hidden" name="UserId" value="@Model.UserId" />*@
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <div class="form-group form-footer">
            <p id="TotalPrice" class="purchase-price control-label">&#8362;0</p>
            <input type="submit" value="רכוש" class="submit-form-button btn btn-default" />
            @Html.ActionLink("לרשימה המלאה", "Index", "Products", null, new { @class = "full-list-action" })
        </div>
    }
</div>

@section Scripts {
    <script>
        $("#Count").bind('keyup change', function () {
            $('#TotalPrice').html('&#8362;' + $('#Count').val() * @Model.Product.Price);
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}